{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to test examples for</span> Symfony</h1>
            </div>

            <div>
                <h2>List of subscribers:</h2>

                <ol>
                    {% for subscriber in subscribers %}
                        {#<li><a href="/subscribers/{{ subscriber.id }}" id="subscriber-link-{{ loop.index }}">{{ subscriber.name }}</a></li>#}
                        <li><a href="{{ path('subscriber_details', {'id': subscriber.id}) }}" id="subscriber-link-{{ loop.index }}">{{ subscriber.name }}</a></li>
                    {% endfor %}
                </ol>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
</style>
{% endblock %}
