{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div>
                <h2 id="subscriber-details-header">Subscriber details:</h2>
                <ul>
                    <li>Name: {{ subscriber.name }}</li>
                    <li>Email: {{ subscriber.email }}</li>
                    <li>Ip address: {{ subscriber.ipAddress }}</li>
                </ul>
            </div>

            <a href="{{ path('homepage') }}">Go Home</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
</style>
{% endblock %}
